<?xml version="1.0"?>
<Events>
    <!-- Charging Status Changed Event -->
    <Event id="chargingStatusChanged">
        <n>Charging Status Changed</n>
        <TriggerLabel>Charging Status</TriggerLabel>
        <TriggerLabelPrefix>Status:</TriggerLabelPrefix>
        <ControlPageLabel>Charging Status Changed</ControlPageLabel>
        <ConfigUI>
            <Field id="device" type="menu">
                <Label>Vehicle:</Label>
                <List class="self" filter="self.renaultVehicle" method="getDeviceList"/>
            </Field>
            <Field id="separator1" type="separator"/>
            <Field id="statusCondition" type="menu" defaultValue="any">
                <Label>Trigger When:</Label>
                <List>
                    <Option value="any">Any Status Change</Option>
                    <Option value="specific">Specific Status</Option>
                    <Option value="to_charging">Changes to Charging</Option>
                    <Option value="to_not_charging">Changes to Not Charging</Option>
                    <Option value="to_waiting">Changes to Waiting</Option>
                    <Option value="to_error">Changes to Error</Option>
                </List>
            </Field>
            <Field id="specificStatus" type="textfield" visibleBindingId="statusCondition" visibleBindingValue="specific">
                <Label>Specific Status (CP):</Label>
            </Field>
        </ConfigUI>
    </Event>

    <!-- Battery Level Changed Event -->
    <Event id="batteryLevelChanged">
        <n>Battery Level Changed</n>
        <TriggerLabel>Battery Level</TriggerLabel>
        <TriggerLabelPrefix>Level:</TriggerLabelPrefix>
        <ControlPageLabel>Battery Level Changed</ControlPageLabel>
        <ConfigUI>
            <Field id="device" type="menu">
                <Label>Vehicle:</Label>
                <List class="self" filter="self.renaultVehicle" method="getDeviceList"/>
            </Field>
            <Field id="separator1" type="separator"/>
            <Field id="levelCondition" type="menu" defaultValue="any">
                <Label>Trigger When:</Label>
                <List>
                    <Option value="any">Any Level Change</Option>
                    <Option value="above">Level Above</Option>
                    <Option value="below">Level Below</Option>
                    <Option value="equals">Level Equals</Option>
                </List>
            </Field>
            <Field id="levelValue" type="textfield" defaultValue="80" visibleBindingId="levelCondition" visibleBindingValue="above,below,equals">
                <Label>Level (%):</Label>
            </Field>
        </ConfigUI>
    </Event>

    <!-- Plug Status Changed Event -->
    <Event id="plugStatusChanged">
        <n>Plug Status Changed</n>
        <TriggerLabel>Plug Status</TriggerLabel>
        <TriggerLabelPrefix>Status:</TriggerLabelPrefix>
        <ControlPageLabel>Plug Status Changed</ControlPageLabel>
        <ConfigUI>
            <Field id="device" type="menu">
                <Label>Vehicle:</Label>
                <List class="self" filter="self.renaultVehicle" method="getDeviceList"/>
            </Field>
            <Field id="separator1" type="separator"/>
            <Field id="plugCondition" type="menu" defaultValue="any">
                <Label>Trigger When:</Label>
                <List>
                    <Option value="any">Any Plug Change</Option>
                    <Option value="plugged">Plugged In</Option>
                    <Option value="unplugged">Unplugged</Option>
                </List>
            </Field>
        </ConfigUI>
    </Event>

    <!-- HVAC Status Changed Event -->
    <Event id="hvacStatusChanged">
        <n>HVAC Status Changed</n>
        <TriggerLabel>HVAC Status</TriggerLabel>
        <TriggerLabelPrefix>HVAC:</TriggerLabelPrefix>
        <ControlPageLabel>HVAC Status Changed</ControlPageLabel>
        <ConfigUI>
            <Field id="device" type="menu">
                <Label>Vehicle:</Label>
                <List class="self" filter="self.renaultVehicle" method="getDeviceList"/>
            </Field>
            <Field id="separator1" type="separator"/>
            <Field id="hvacCondition" type="menu" defaultValue="any">
                <Label>Trigger When:</Label>
                <List>
                    <Option value="any">Any HVAC Change</Option>
                    <Option value="on">HVAC Turned On</Option>
                    <Option value="off">HVAC Turned Off</Option>
                </List>
            </Field>
        </ConfigUI>
    </Event>

    <!-- Charging Power Changed Event -->
    <Event id="chargingPowerChanged">
        <n>Charging Power Changed</n>
        <TriggerLabel>Charging Power</TriggerLabel>
        <TriggerLabelPrefix>Power:</TriggerLabelPrefix>
        <ControlPageLabel>Charging Power Changed</ControlPageLabel>
        <ConfigUI>
            <Field id="device" type="menu">
                <Label>Vehicle:</Label>
                <List class="self" filter="self.renaultVehicle" method="getDeviceList"/>
            </Field>
            <Field id="separator1" type="separator"/>
            <Field id="powerCondition" type="menu" defaultValue="any">
                <Label>Trigger When:</Label>
                <List>
                    <Option value="any">Any Power Change</Option>
                    <Option value="above">Power Above (kW)</Option>
                    <Option value="below">Power Below (kW)</Option>
                    <Option value="zero">Power Drops to Zero</Option>
                    <Option value="nonzero">Power Becomes Non-Zero</Option>
                </List>
            </Field>
            <Field id="powerValue" type="textfield" defaultValue="5" visibleBindingId="powerCondition" visibleBindingValue="above,below">
                <Label>Power (kW):</Label>
            </Field>
        </ConfigUI>
    </Event>
</Events>
